@model OnlinePizza.Models.Dish
@inject OnlinePizza.Services.DishService _DishService
@inject OnlinePizza.Services.IngredientService _IngredientService

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Dish</h4>
<hr />
<div class="row">
    <div style="width: 265.5px; margin: auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="mui-select">
                <select style="width:100%" class="list-group-item" asp-for="CategoryId" asp-items="ViewBag.categoryList"></select>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input asp-for="Name" class="mdl-textfield__input" type="text" />
                <label asp-for="Name" class="mdl-textfield__label" for="sample3">Dish name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input asp-for="Price" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?">
                <label asp-for="Price" class="mdl-textfield__label" for="sample4">Price</label>
                <span class="mdl-textfield__error">Input is not a number!</span>
            </div>


            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th>Lägg till</th>
                        <th>Ingredient</th>
                        <th>Pris</th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var ingredient in _IngredientService.GetIngredients())
                    {
                        <tr>
                            <td>
                                <label class="mdl-checkbox mdl-js-checkbox">
                                    <input type="checkbox" class="mdl-checkbox__input" name="IngredientBox-@ingredient.IngredientId" value="@ingredient.IngredientId">
                                    @*<span class = "mdl-checkbox__label">Married</span>*@
                                </label>
                            </td>

                            <td asp-for="@ingredient.Name">@ingredient.Name</td>
                            <td>@ingredient.Price</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
