@*@model OnlinePizza.Models.Dish*@
@model System.Collections.Generic.IEnumerable<OnlinePizza.Models.Dish>
@{
    ViewData["Title"] = "TestMenu";
}

<h2>TestMenu</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="row">
    
    @foreach (var pizza in Model)
    {
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item row">
                    <div class="col-md-2">
                        <a href="#">
                            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-md-8">@pizza.Name
                        <br/>
                    @pizza.Price
                    </div>
                    <div class="col-md-2">Bild</div>
                </li>
            </ul>
        </div>
    }

</div>
 

    

